	<!DOCTYPE html>
	<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ticket Your Event</title>

<script src="https://use.fontawesome.com/13cbefee13.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!--Latest compiled and minified CSS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- jQuery library -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<!--angularstrap-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.9/angular-strap.compat.js"></script>
		<!--AngularJS-->
		<script type="text/javascript" src="js/app.js"></script>


		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script> 
		<script src="js/assest.js"></script>
		

		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet">  
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<style type="text/css">
		h1{
			margin: 20px 0;
			padding: 0 200px 5px 0;
			border-bottom: 1px solid #E5E5E5;
		}
		.bs-example{
			margin: 20px;
		}

		.error {
			color : red;
			font-size : 12px;
			font-family : arial;
			margin : 0 ;
			padding:  0 ;
		}
		.form-horizontal .control-label{
			/* text-align:right; */
			text-align:left;
		}
		</style>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	</head>
	<body ng-controller="mainCtrl">
		<div class="panel panel-primary col-md-8 col-md-offset-2">
			
			<!-- Default panel contents -->
			<div class="panel-heading">Ticket Your Event</div>
			<div class="panel-body ">
				<div class="bs-example">
					<form class="form-horizontal" role="form" name="form">
						<div class="form-group">
							<label class="control-label col-xs-3" for="fname">First Name:</label>
							<div class="col-xs-6">
								<input type="text" class="form-control" id="fname" placeholder="First Name" ng-model="customer.firstName.value" required>
								<span id="helpBlock" class="help-block error" ng-show = "customer.firstName.error.bool "><div class = "alert alert-danger">{{customer.firstName.error.length_msg}} {{customer.firstName.error.nameregex_msg}}</div></span>
							</div>
						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<div class="form-group">
							<label class="control-label col-xs-3" for="lname">Last Name:</label>
							<div class="col-xs-6">
								<input type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="customer.lastName.value" required>
								<span id="helpBlock" class="help-block error" ng-show = "customer.lastName.error.bool "><div class = "alert alert-danger">{{customer.lastName.error.length_msg}} {{customer.lastName.error.nameregex_msg}}</div></span>
							</div>
						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

						<div class="form-group">
							<label class="control-label col-xs-3" for="mob">Mobile Number:</label>
							<div class="col-xs-6">
								<div class="input-group">
									<div class="input-group-addon">+20</div>
									<input type="text" class="form-control" id="mob" placeholder="Mobile Number" ng-model="customer.mobileNumber.value"  required>
								</div>
								<span id="helpBlock" class="help-block error" ng-show = "customer.mobileNumber.error.bool"><div class = "alert alert-danger">{{customer.mobileNumber.error.emailmobilereg_msg}}</div></span>

							</div>
						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->		
						<div class="form-group">
							<label class="control-label col-xs-3" for="email">Email:</label>
							<div class="col-xs-6">
								<input type="text" class="form-control" id="email" placeholder="Email" ng-model="customer.email.value" required>
								<span id="helpBlock" class="help-block error" ng-show = "customer.email.error.bool "><div class = "alert alert-danger">{{customer.email.error.emailmobilereg_msg}}</div></span>
							</div>
						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<div class="form-group">
							<label class="control-label col-xs-3" for="cmail">Confirm Email:</label>
							<div class="col-xs-6">
								<input type="text" class="form-control" id="cmail" placeholder="Confirm Email" ng-model="customer.confirmEmail.value" required>
								<span id="helpBlock" class="help-block error" ng-show = "customer.confirmEmail.error.bool "><div class = "alert alert-danger">{{customer.confirmEmail.error.msg}}</div></span>
							</div>
						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<div class="form-group">
							<label class="control-label col-xs-3" for="comName">Company Name:</label>
							<div class="col-xs-6">
								<input type="text" class="form-control" id="comName" placeholder="Company Name" ng-model="customer.companyName.value" required>
								<span id="helpBlock" class="help-block error" ng-show = "customer.companyName.error.bool"><div class = "alert alert-danger">{{customer.companyName.error.length_msg}}</div></span>
							</div>
						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<div class="form-group">
							<label class="control-label col-xs-3" for="title">Event Title:</label>
							<div class="col-xs-6">
								<input type="text" class="form-control" id="title" placeholder="Event Title" ng-model="customer.eventTitle.value" required>
								<span id="helpBlock" class="help-block error" ng-show = "customer.eventTitle.error.bool"> <div class = "alert alert-danger">{{customer.eventTitle.error.length_msg}}</div></span>
							</div>
						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->		
						
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<!-- Radio Buttons for The Type Section -->
						<div class="form-group" >
							<label class="control-label col-xs-3">Type: </label>
							<div class="col-xs-2">
								<label class="radio-inline">
									<input type="radio" name="type" value="Single" ng-model="customer.eventType.value" required > Single Event
								</label>
							</div>
							<div class="col-xs-2">
								<label class="radio-inline">
									<input type="radio" name="type" value="Multiple" ng-model="customer.eventType.value" required> Multiple Event 
								</label>
							</div>
							<div class="col-xs-2">
								<label class="radio-inline">
									<input type="radio" name="type" value="tour" ng-model="customer.eventType.value" required> Tournment
								</label>
							</div>
						</div>

						<!-- Radio Buttons for The Inventory Section -->
						<div class="form-group">
							<label class="control-label col-xs-3">Inventory:</label>
							<div class="col-xs-2">
								<label class="radio-inline">
									<input type="radio" name="inventory" value="general" ng-model="customer.inventory.value" required> General Admission
								</label>
							</div>
							<div class="col-xs-2">
								<label class="radio-inline">
									<input type="radio" name="inventory" value="reserved" ng-model="customer.inventory.value"> Reserved Admission 
								</label>
							</div>
							<div class="col-xs-2">
								<label class="radio-inline">
									<input type="radio" name="inventory" value="gneralnreserved" ng-model="customer.inventory.value"> General Admission + Reserved Admission 
								</label>
							</div>
						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

						<div class="panel panel-primary">
							<div class="panel-body ">

								<div class="form-group row">
									<label class="control-label col-xs-3" for="location">Venue name and Location:</label>
									<div class="col-xs-6">
										<input type="text" class="form-control" id="location" placeholder="Venue name and Its Location"ng-model="customer.location.value" required>
										<span id="helpBlock" class="help-block error" ng-show = "customer.location.error.bool ">
											<div class = "alert alert-danger">{{customer.location.error.length_msg}} {{customer.location.error.nameregex_msg}}</div></span>
										</div>
									</div>

									<div  class="form-group" name="demo"> 

										<label class="control-label">Start date and time :</label>
										<datetimepicker 

										hour-step="hourStep" 
										minute-step="minuteStep"
										ng-model="date.start.value" 
										show-meridian="showMeridian" 
										date-format="{{format}}" 
										date-options="dateOptions"
										date-disabled="disabled(date.start.value, mode)" 
										datepicker-append-to-body="false"
										readonly-date="false"
										disabled-date="false"
										hidden-time="false"
										hidden-date="false" 
										name="datetimepicker"
										show-spinners="true"
										readonly-time="false"
										date-opened="dateOpened1"
										show-button-bar="false"
										>
										<!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
									</datetimepicker>
								<span id="helpBlock" class="help-block error" ng-show = "date.start.error.bool ">
								<div class = "alert alert-danger">{{date.start.error.msg}}</div></span>


								</div>

								<!--//////////////////////End Date /////////////////////////////// -->
								<div  class="form-group" name="demo"> 

									<label class="control-label">End date and time :</label>
									<datetimepicker 
									hour-step="hourStep" 
									minute-step="minuteStep"
									ng-model="date.end.value" 
									show-meridian="showMeridian" 
									date-format="{{format}}" 
									date-options="dateOptions"
									date-disabled="disabled(date.end.value, mode)" 
									datepicker-append-to-body="false"
									readonly-date="false"
									disabled-date="false"
									hidden-time="false"
									hidden-date="false" 
									name="datetimepicker"
									show-spinners="true"
									readonly-time="false"
									date-opened="dateOpened2"
									show-button-bar="false"
									>
								</datetimepicker>
								<span id="helpBlock" class="help-block error" ng-show = "date.end.error.bool ">
								<div class = "alert alert-danger">{{date.end.error.msg}}</div></span>

							</div>
							<table class="table" ng-show = "customer.events.length != 0">
   <thead>
     <tr>
       <th>location</th>
       <th>Event starts</th>
       <th>Event ends</th>
     </tr>
   </thead>
   <tbody>
     <tr class="success" ng-repeat = "x in customer.events" >
       <td>{{x.eventLocation}}</td>
       <td>
       	<table class="table">
       		<thead>
       		<tr>
       			<th>Date</th>
       			<th>Time</th>
       		</tr>
       	</thead>
       	<tbody>
       		<tr>
       			<td>{{x.start.splitedDate}}</td>
       			<td>{{x.start.splitedTime}}</td>
       		</tr>
       	</tbody>
       	</table>
       </td>
       <td>
       	       	<table class="table">
       		<thead>
       		<tr>
       			<th>Date</th>
       			<th>Time</th>
       		</tr>
       	</thead>
       	<tbody>
       		<tr>
       			<td>{{x.end.splitedDate}}</td>
       			<td>{{x.end.splitedTime}}</td>
       		</tr>
       	</tbody>
       	</table>
       </td>
       <td><i class="fa fa-times" aria-hidden="true" ng-click ="remove(x)"></i></td>
       <hr>
     </tr>
   </tbody>
 </table>

							<div>
								<input type="submit" class="btn btn-primary" value="Submit" ng-click ="add()" ng-disabled = "eventDone()">
							</div>

						</div>
					</div>
					



					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<input type="submit" class="btn btn-primary" value="Submit" ng-click ="clicked()" ng-disabled = "formDone()">

							<input type="reset" class="btn btn-default" value="Reset" >
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	<!-- app.JS -- >

	<!-- main controller -->
	<script type="text/javascript" src="js/factories/factories.js"></script>
	<script type="text/javascript" src="js/controllers/mainCtrl.js"></script>

</body>
</html>

