	<!DOCTYPE html>
	<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ticket Your Event</title>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><!--Latest compiled and minified CSS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><!-- jQuery library -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- Latest compiled JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script><!--AngularJS-->
		<script type="text/javascript" src="js/app.js"></script>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<style type="text/css">
		h1{
			margin: 20px 0;
			padding: 0 200px 5px 0;
			border-bottom: 1px solid #E5E5E5;
		}
		.bs-example{
			margin: 20px;
		}

		.error {
			color : red;
			font-size : 12px;
			font-family : arial;
			margin : 0 ;
			padding:  0 ;
		}

		</style>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	</head>
	<body ng-controller="mainCtrl">
		<div class="bs-example">
			<h1>Sign Up</h1>
			<form class="form-horizontal" role="form" name="form">
				<div class="form-group">
					<label class="control-label col-xs-3" for="fname">First Name:</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="fname" placeholder="First Name" ng-model="customer.firstName.value" required>
						<span id="helpBlock" class="help-block error" ng-show = "customer.firstName.error.bool ">{{customer.firstName.error.msg_length}} {{customer.firstName.error.msg_nreg}}</span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-3" for="lname">Last Name:</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="customer.lastName.value" required>
						<span id="helpBlock" class="help-block error" ng-show = "customer.lastName.error.bool ">{{customer.lastName.error.msg_length}} {{customer.lastName.error.msg_nreg}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" for="mob">Mobile Number:</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="mob" placeholder="Mobile Number" ng-model="customer.mobileNumber.value"  required>
						<span id="helpBlock" class="help-block error" ng-show = "customer.mobileNumber.error.bool">{{customer.mobileNumber.error.msg_emreg}}</span>

					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" for="email">Email:</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="email" placeholder="Email" ng-model="customer.email.value" required>
						<span id="helpBlock" class="help-block error" ng-show = "customer.email.error.bool ">{{customer.email.error.msg_emreg}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" for="cmail">Confirm Email:</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="cmail" placeholder="Confirm Email" ng-model="customer.confirmEmail.value" required>
						<span id="helpBlock" class="help-block error" ng-show = "customer.confirmEmail.error.bool ">{{customer.confirmEmail.error.msg}}</span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-3" for="comName">Company Name:</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="comName" placeholder="Company Nmae" ng-mode="customer.companyName.value" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" for="title">Event Title:</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="title" placeholder="Event Title" ng-model="customer.eventTitle.value" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3" for="location">Venue name and Location:</label>
					<div class="col-xs-3">
						<input type="text" class="form-control" id="location" placeholder="Venue name and Location"ng-model="customer.location.value" required>
						<span id="helpBlock" class="help-block error" ng-show = "customer.location.error.bool ">{{customer.location.error.msg_length}} {{customer.location.error.msg_nreg}}</span>
					</div>
				</div>

				<!-- Radio Buttons for The Type Section -->
				<div class="form-group" >
					<label class="control-label col-xs-3">Type: </label>
					<div class="col-xs-1">
						<label class="radio-inline">
							<input type="radio" name="type" value="Single" ng-model="customer.eventType.value" required > Single Event
						</label>
					</div>
					<div class="col-xs-1">
						<label class="radio-inline">
							<input type="radio" name="type" value="Multiple" ng-model="customer.eventType.value" required> Multiple Event 
						</label>
					</div>
					<div class="col-xs-1">
						<label class="radio-inline">
							<input type="radio" name="type" value="tour" ng-model="customer.eventType.value" required> Tournment
						</label>
					</div>
				</div>

				<!-- Radio Buttons for The Inventory Section -->
				<div class="form-group">
					<label class="control-label col-xs-3">Inventory:</label>
					<div class="col-xs-1">
						<label class="radio-inline">
							<input type="radio" name="inventory" value="general" ng-model="customer.inventory.value" required> General Admission
						</label>
					</div>
					<div class="col-xs-1">
						<label class="radio-inline">
							<input type="radio" name="inventory" value="reserved" ng-model="customer.inventory.value"> Reserved Admission 
						</label>
					</div>
					<div class="col-xs-2">
						<label class="radio-inline">
							<input type="radio" name="inventory" value="gneralnreserved" ng-model="customer.inventory.value"> General Admission + Reserved Admission 
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<input type="submit" class="btn btn-primary" value="Submit">
						<input type="reset" class="btn btn-default" value="Reset" >
					</div>
				</div>
			</form>
		</div>

		<!-- app.JS -- >

		<!-- main controller -->
		<script type="text/javascript" src="js/controllers/factories.js"></script>
		<script type="text/javascript" src="js/controllers/mainCtrl.js"></script>

	</body>
	</html>

